<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="" />
    <compilation debug="true" targetFramework="4.7.2"  />
    <httpRuntime targetFramework="4.7.2" />
	  <webServices>
		  <protocols>
			  <add name="HttpGet" />
			  <add name="HttpPost" />
		  </protocols>
	  </webServices>
	  <trust level="Full" />
  </system.web>
  <connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=school_erp;Integrated Security=True;" providerName="System.Data.SqlClient" />
  <!-- <add name="DefaultConnection" connectionString="Data Source=103.131.196.152;Initial Catalog=school_erp;Integrated Security=false;User Id=school_erp;Password=_Zk90ef4;connect timeout=0;Max Pool Size=40000" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
	<!-- <system.webServer>
		<rewrite>
			<rules>
				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>-->
</configuration>